#root {
  color: rgb(208, 207, 207);
}

body {
  font-family: sans-serif;
  background-color: #1e2224;
}

h1 {
  color: rgb(208, 207, 207);
  margin-bottom: 30px;
}

.url {
  color: rgb(208, 207, 207);
}
